body {
 
 background-size: cover;
background-repeat: no-repeat;
    font-family: generic sans-serif ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-image: url(thread-removebg-preview.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: top;
      width: 300px;
      border: 1px solid #ccc;
      border-radius: px;
      padding: 46px;
      height: 40vh;
      box-shadow: 14px 12px 14px 14px rgba(0, 0, 0, 0.1);
 
  }
 
  h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    position: relative;
    bottom: 1px;
    left: 90px;
  }


#signin-email {
  border: 2px solid rgb(190, 187, 187);
  
  padding: 8px;
  font-size: 20px;
}



#signin-password{
  margin-top : 45px;
  border: 2px solid rgb(190, 187, 187);
 
  padding: 8px;
  font-size: 20px;
  transition: border-color 0.3s ease;
}

.button1{
  background-color:#3e0db1;
  color: #fff;
  border:none;
  border-radius:10px;
    padding: 12px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bold;
    width: 80px;
    margin-top: 20px;
    margin-left: 80px;
    transition: color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.button1:hover{
  color: rgb(58, 58, 59); 
}
.form-link{
  border: 8px solid rgb(214, 210, 210);
  padding: 10px;
  background-color: white;
  border-radius:10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:12px;
  font-weight:bold; 
  width: 250px;
  margin-top: 10px;
  color: rgb(5, 5, 5);
 
  
}


.link{
  position: relative;
  bottom: 52px;
  left: 200px;
  border:lavenderblush;
  border-radius: 10px;
color: rgb(212, 210, 210);
  font-size: 20px;
  font-weight: bold;
  width: 60px;
  padding: 10px;
   color: rgb(0, 0, 0);
   transition: color 0.3s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link:hover{
  color: blue; 
}
#signup-email {
  border: 2px solid rgb(190, 187, 187);
  border-radius: 10px;
  padding: 8px;
  font-size: 20px;
  transition: border-color 0.3s ease; /* Adding transition for smooth effect */
}
#signup-password{
  margin-top : 45px;
  border: 2px solid rgb(190, 187, 187);
  border-radius: 10px;
  padding: 8px;
  font-size: 20px;
  transition: border-color 0.3s ease;
}
#firstname{
  margin-top : 45px;
  border: 2px solid rgb(190, 187, 187);
  border-radius: 10px;
  padding: 8px;
  font-size: 20px;
  transition: border-color 0.3s ease;
}
.container2 {
  background-image: url(thread-removebg-preview.png);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: top;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: px;
    padding: 46px;
    height: 60vh;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}